<ion-content>
  <div class="auth-container">
    <div class="auth-card">
      <div class="brand">CreatorLink</div>

      <h1>Create Account</h1>

      <p>Register to continue your journey.</p>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- EMAIL -->

        <div class="input-group">
          <label> Email </label>

          <ion-item lines="none">
            <ion-input type="email" placeholder="Enter your email" formControlName="email"> </ion-input>
          </ion-item>

          @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
            <small>
              {{ getValidationMessage(registerForm.get('email')) }}
            </small>
          }
        </div>

        <!-- ROLE -->
        <div class="input-group">
          <label> Role </label>

          <ion-item lines="none">
            <ion-select placeholder="Select role" formControlName="role">
              @for (role of userRoles; track role) {
                <ion-select-option [value]="role">
                  {{ role }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>

          @if (registerForm.get('role')?.touched && registerForm.get('role')?.invalid) {
            <small>
              {{ getValidationMessage(registerForm.get('role')) }}
            </small>
          }
        </div>

        <!-- BUTTON -->

        <ion-button expand="block" type="submit" [disabled]="loading">
          @if (loading) {
            <ion-spinner name="crescent"> </ion-spinner>
          } @else {
            Register
          }
        </ion-button>
      </form>

      <!-- LOGIN -->

      <div class="bottom-text">
        Already have an account?

        <a routerLink="/login"> Login </a>
      </div>
    </div>
  </div>
</ion-content>
