<ion-content>
  <div class="auth-container">
    <div class="auth-card">
      <div class="brand">CreatorLink</div>

      <h1>Create Password</h1>

      <p>Secure your account to continue.</p>

      <form [formGroup]="createPasswordForm" (ngSubmit)="createPassword()">
        <!-- PASSWORD -->

        <div class="input-group">
          <ion-item lines="none">
            <ion-input type="password" autocomplete="new-password" placeholder="Password" formControlName="password">
              <ion-input-password-toggle slot="end"> </ion-input-password-toggle>
            </ion-input>
          </ion-item>

          @if (createPasswordForm.get('password')?.touched && createPasswordForm.get('password')?.invalid) {
            <small>
              {{ getValidationMessage(createPasswordForm.get('password')) }}
            </small>
          }
        </div>

        <!-- CONFIRM PASSWORD -->

        <div class="input-group">
          <ion-item lines="none">
            <ion-input
              type="password"
              autocomplete="new-password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            >
              <ion-input-password-toggle slot="end"> </ion-input-password-toggle>
            </ion-input>
          </ion-item>

          @if (createPasswordForm.hasError('passwordMismatch') && createPasswordForm.get('confirmPassword')?.touched) {
            <small> Passwords do not match </small>
          }
        </div>

        <!-- BUTTON -->

        <ion-button expand="block" type="submit" [disabled]="loading">
          @if (loading) {
            <ion-spinner name="crescent"> </ion-spinner>
          } @else {
            Create Password
          }
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
