<ion-content>
  <div class="auth-container">
    <div class="auth-card">
      <div class="brand">CreatorLink</div>

      <h1>Welcome Back</h1>

      <p>Login to continue your journey.</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <label>Email</label>

          <ion-item lines="none">
            <ion-input
              type="email"
              autocomplete="email"
              autocapitalize="off"
              autocorrect="off"
              spellcheck="false"
              placeholder="Enter your email"
              formControlName="email"
            >
            </ion-input>
          </ion-item>

          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <small>
              {{ getValidationMessage(loginForm.get('email')) }}
            </small>
          }
        </div>

        <div class="input-group">
          <label>Password</label>

          <ion-item lines="none">
            <ion-input
              type="password"
              autocomplete="current-password"
              placeholder="Enter password"
              formControlName="password"
            >
              <ion-input-password-toggle slot="end"> </ion-input-password-toggle>
            </ion-input>
          </ion-item>

          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <small>
              {{ getValidationMessage(loginForm.get('password')) }}
            </small>
          }
        </div>

        <ion-button expand="block" type="submit" [disabled]="loading">
          @if (loading) {
            <ion-spinner name="crescent"></ion-spinner>
          } @else {
            Login
          }
        </ion-button>
      </form>

      <div class="bottom-text">
        Don’t have an account?

        <a routerLink="/register"> Register </a>
      </div>
    </div>
  </div>
</ion-content>
